<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>


<body>
    <div id="root">
        <input type="text" v-model="keyword">
        <ul>
            <li v-for="p in filterPerson" :key="p.id">{{p.id}}-{{p.age}}-{{p.name}} <input type="text"> </li>
        </ul>
    </div>
    <script>
        const root = new Vue(
            {
                el: "#root",
                data: function () {
                    return {
                        persons: [
                            { id: 1, age: 25, name: '张三' },
                            { id: 2, age: 30, name: '李四' },
                            { id: 3, age: 28, name: '王五' },
                            { id: 4, age: 22, name: '赵六' },
                            { id: 5, age: 35, name: '钱七' },
                            { id: 6, age: 29, name: '孙八' },
                            { id: 7, age: 32, name: '李九' },
                            { id: 8, age: 27, name: '张十' },
                            { id: 9, age: 31, name: '赵十一' },
                            { id: 10, age: 24, name: '孙十二' }
                        ],
                        keyword: ""
                    }
                },

                computed: {
                    filterPerson() {
                        const arr = this.persons.filter((p) => {
                            return p.name.indexOf(this.keyword) !== -1
                        })
                        return arr
                    }
                }


            }
        )

            data = {}
            data.age = 10
            
        






    </script>
</body>

</html>